<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib">DataTables</span>
        <span class="d-ib">
                <a class="title-bar-shortcut" href="#" title="Add to shortcut list" data-container="body" data-toggle-text="Remove from shortcut list" data-trigger="hover" data-placement="right" data-toggle="tooltip">
                  <span class="sr-only">Add to shortcut list</span>
                </a>
              </span>
      </h1>
      <p class="title-bar-description">
        <small>The tables presented below use <a href="https://datatables.net/" target="_blank">DataTables</a> plugin, the styling of which is completely rewritten in SASS, without modifying however anything in JavaScript.</small>
      </p>
    </div>

    <div class="text-center m-b">
      <h3 class="m-b-0">Select2 Column Searching</h3>
      <small>Ability to apply Select2 searching to a specific column.</small>
    </div>
    <div class="row gutter-xs">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-actions">
              <button type="button" class="card-action card-toggler" title="Collapse"></button>
              <button type="button" class="card-action card-reload" title="Reload"></button>
              <button type="button" class="card-action card-remove" title="Remove"></button>
            </div>
            <strong>Column Searching (+Bootstrap Responsive Table)</strong>
          </div>

          <div class="card-body">
            <table id="demo-datatables-4" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th>ID</th>
                <th>Rol</th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Direcion</th>
                <th>Giro</th>

              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>ID</th>
                <th>Rol</th>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Direcion</th>
                <th>Giro</th>

              </tr>
              </tfoot>
              <tbody>
              <% @locales.all().each do |local| %>
              <tr>
                <td><%= local.id %></td>
                <td><%= local.rol %></td>
                <td><%= local.rut %>-<%= local.dv %></td>
                <td><%= local.nombre_social %></td>
                <td>
                  <%= text_field(:local,:direccion, :value => local.direccion,:class=>"form-control") %></td>
                <td><%= local.giro %></td>

              </tr>
                  <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>