
<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib icon icon-users"> Usuarios del Sistema</span>
      </h1>
    </div>
    <div class="row gutter-xs p-y-md">
      <div class="container">
        <table class="table table-fixed">
          <thead>
            <tr class="bg-primary">
              <th class="col-xs-2">Nombre</th>
              <th class="col-xs-2">Apellido</th>
              <th class="col-xs-2">Rol</th>
              <th class="col-xs-3">Email</th>
              <th class="col-xs-1">Modificar</th>
              <th class="col-xs-2">Eliminar</th>
            </tr>
          </thead>
          <tbody>
          <%@usuarios.each do |usuario| %>
            <tr>
                <td class="col-xs-2"> <%=usuario.nombre %></td>
                <td class="col-xs-2"> <%=usuario.apellido %></td>
                <td class="col-xs-2"> <%=Rol.find(usuario.roles_id).nombre %></td>
                <td class="col-xs-3"> <%=usuario.email %></td>
                <td class="col-xs-1">
                  <div class="media-middle media-right">
                    <a href="/usuarios/<%= usuario.id %>/edit" class="icon icon-user btn btn-primary btn-md"></a>
                  </div>
                </td>
                <td class="col-xs-1">
                  <div class="media-middle media-right">
                    <%=link_to '', usuario_path(usuario), method: :delete, class: "icon icon-remove btn btn-primary btn-md"%>
                  </div>
                </td>
            </tr>
          <%end%>
          </tbody>
        </table>
      </div>
      <div class="col-md-5 col-md-offset-3">
        <%= link_to "Crear Usuario", new_usuario_path, class: "btn btn-primary btn-block btn-lg"%>
      </div>
      </div>
  </div>
</div>



